
.img {
    height: 25%;
    width: 25%;
    /* box-sizing: border-box; */
    border-radius: 50%;
}
.search {
    align-items: center;
    justify-content: center;
    
    background-color: aqua;
}
.submit {
    margin-left: 342px;
}
.container {
    margin-left: 8px;
    margin-top: 30px;
}
button.searchs {
    border-color: blue;
}

@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }

  @media screen and (max-width: 780px) {
    body {
      background-color:brown;
    }
  }